.taskCard{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.done {
    background-color: #31c51342;
}
.taskCard p {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}