.button-submit{
  background-color: #000;
  outline: none;
  border: none;
  color: #fff;
  padding: 0.7rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px ;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}