.group {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    height: 45px;
    padding: 0 5rem;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
}

.input::placeholder {
  color: #333333;
}

.input:focus, input:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
    position: absolute;
    left: 1rem;
    font-size: 20px !important;
    color: #000;
}